<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>ssr demo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--{{ STYLE }}-->
  </head>
  <body>
    <!--{{ APP }}-->
    <div id="app"></div>
    <script src="/vendor.js"></script>
    <script src="/client-bundle.js"></script>
  </body>
</html>
